body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    text-align: center;
    margin: 0;
}

.qr-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.qr-img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 5px;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: 15px;
    font-weight: 400;
}

.attribution {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
